.tasks {
    height: calc(100vh - 90px);
    overflow: auto;
    width: 100%;
    margin-top: 15px;
}

.tasks .taskCard {
    margin: 20px 0px;
    height: 50px;
    width: 100%;
    border: 1px solid lightgrey;
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
}

.tasks .taskCard .taskName {
    font-size: 15px;
    font-weight: 700;
    width: 90%;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: capitalize;
}

.tasks .taskCard .arrow-symbol {
    font-weight: 600;
    font-size: 20px;

}