.App {
  text-align: center;
}

.divider {
  margin-top: 25px;
  width: 80%;
  font-size: 25px;
  display: flex;
  align-items: center;
  font-weight: 700;
}

.divider::before,
.divider::after {
  flex: 1;
  content: '';
  padding: 2px;
  background-color: rgb(0, 91, 197);
  margin: 6px;
}

.modalDivider {
  margin: 25px 0px 10px 0px;
  width: 100%;
  font-size: 10px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.modalDivider::before,
.modalDivider::after {
  flex: 1;
  content: '';
  padding: 1px;
  background-color: rgb(202, 202, 202);
  margin: 8px;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

.slideIn {
  animation: slideIn 0.2s ease forwards;
  opacity: 0;
  transform: translateX(100%);
}


@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}