.batch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.batch .batch-float .ant-float-btn-content {
    width: 50px;
    min-height: 50px;
}

.batch .batch-float .ant-float-btn-icon {
    width: 35px !important;
}

.batch .batch-float .anticon svg {
    height: 50px;
    width: 35px;
}
